html{
	background-color:#2d5b69;

	font-family: Garamond, Arial, sans-serif, Comic Sans MS, Comic Sans, cursive;
}

.container-1 div, .container-2 div, .container-3 div{
  border:1px #ccc solid;
  padding:10px;
  background-color: rgb(9, 43, 88);
}

.box{
  flex:2;
  order:2;
}

form{
  border: 1px solid black;
  margin-top: 250px;
  margin-bottom: 100px;
  margin-right: 300px;
  margin-left: 300px;
  background-color: rgb(9, 43, 88);
}

.form a{
  border: 1px solid black;
  margin-top: 250px; 
  margin-left: 30px;
  background-color: rgb(9, 43, 88);
}

.nav {
  overflow: hidden;
  text-align: center;
  transition-duration: 0.4s;
  margin: 20px;
  background-color: rgb(9, 43, 88)
}

.nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 3px 120px;
  text-decoration: none;
  font-size: 40px;
  transition-duration: 0.4s;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
  text-align: center;
}

html, body 
{
  margin: 0;
}

h2{
  color: white;
  text-align: center;
  
}

h1{
  color: white;
  text-align: center;
  
}


#wrapper{
	margin:0 auto;
	max-width:75%;
}

h1 {
	color:white;
	font-size:30px;
	text-align:center;
}

h4 {
  color:white;
	font-size:23px;
  text-align:center;
}

h2 {
	color:white;
	font-size:30px;
	text-align:center;
}

h3 {
	color:white;
	font-size:23px;

}

table {
  font-family: Arial, Garamond, sans-serif, cursive;
  border-collapse: collapse;
  width: 100%;
  

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {

  background-color: #b1b1b1;

}






.button {
    text-align: right;
    border-radius: 8px;
    transition-duration: 0.4s;
  }
  
  .button a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 120px;
    text-decoration: none;
    font-size: 22px;
    transition-duration: 0.4s;
    background-color: #a03868; 
  
  }
  
  .button a:hover {
    background-color: #ddd;
    color: black;
  }


  img {
    max-width:1000px;
    max-height:1000px;
  }

